body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headder-portion {
  width: auto;
  text-align: center;
  padding: 30px;
  border: 1px solid black;
}



.body-portion {
  margin-top: 10px;
  width: auto;
  text-align: center;
  border: 1px solid black;
  height: 800px;
}

.footer-portion {
  margin-top: 10px;
  width: auto;
  text-align: center;
  border: 1px solid black;
  padding:30px;
}

/* .side-panel{
  width: 200px;
  height: auto;
  background-color: antiquewhite;
} */

